* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(circle, #0f2027, #000);
    font-family: 'Orbitron', sans-serif;
    color: #00ffcc;
}

.navbar {
    padding: 20px;
    background: #000;
    font-size: 24px;
    border-bottom: 2px solid #00ffcc;
}

.container {
    width: 500px;
    margin: 120px auto;
    padding: 40px;
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px #00ffcc;
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px;
    background: black;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #00ffcc;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00ccaa;
}

#result-box {
    margin-top: 25px;
    font-size: 18px;
}

.safe {
    color: #00ff00;
}

.danger {
    color: #ff0033;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-top: 80px;
}
